### import necessary library

In [1]:
import pandas as pd

### Import Data

In [2]:
df = pd.read_csv("data.csv")

### Data Analyzing

In [3]:
df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [4]:
df.tail()

     Duration  Pulse  Maxpulse  Calories
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 169 entries, 0 to 168
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  169 non-null    int64
 1   Pulse     169 non-null    int64
 2   Maxpulse  169 non-null    int64
 3   Calories  164 non-null    float64
dtypes: float64(1), int64(3)
memory usage: 5.4 KB

In [6]:
df.shape

(169, 4)

In [7]:
import pandas as pd

df = pd.read_csv('data.csv')

df.dropna()

df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [8]:
df.shape

(169, 4)

In [9]:
import pandas as pd

df = pd.read_csv('data.csv')

df.dropna(inplace = True)

df.head()

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [10]:
df.shape

(164, 4)

In [11]:
import pandas as pd

df = pd.read_csv('data.csv')

df.fillna(130, inplace = True)

In [12]:
df.shape

(169, 4)